.welcome-page-background div{
    height: 100%;
}
form{
    background-color: rgba(188, 189, 139, 0.9);
    color: #766153;
    margin: 15% 20%;
    border-radius: 10px;
    padding:80px;
}
h3{
    text-align: center;
}
p, label{
    text-align: center;
}
input, label, button{
    margin:5px;
    height:36px;
}
button{
    vertical-align: center;
}
input{
    width:70%;
    border-radius: 10px;
}
.difficulty{
    width:25%;
    height:30px;
}
div label{
    height:30px;
    width:80px;
    margin: auto;
}