body{
    color: white;
}
hr{
    margin:0;
}
h1{
    text-align: center;
    padding-top: 10px;
}
.welcome-paragraphs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 17%;
    margin-right: 17%;
}
.welcome-paragraphs div{
    display:flex;
    align-items: center;
}
img{
    width: 20%;
}